body {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    direction: ltr;
    text-align: left;
    margin: 20px;
}

h2 {
    font-size: xx-large;
    color: darkblue;
    margin-left: 5px;
}

.contact_table {
    border: 3px double darkblue;
    border-style: double;
    border-collapse: collapse;
    width: 300px;
}

.contact_table td {

    border: 3px double darkblue;
    padding: 5px;
}

.contact_table th {
    color: cornflowerblue;
    height: 30px;
    font-size: larger;
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
}

.contact_table input,
.contact-table textarea {
    width: 70%;
    border: 1px solid grey;
}

button {
    padding: 2px 10px;
    border: 1px solid darkblue;
    background-color: cornflowerblue;
    cursor: pointer;
}