table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
}

th {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  font-size: 12px;
}

td {
  font-size: 12px;
  width: 100px;
  border: 1px solid #ccc;
  padding: 10px;
  vertical-align: middle;
}

td iframe {
  width: 300px;
  height: 200px;
  border: none;
}

caption {
  font-size: 18px;
}

.Title {
  background-color: #007BFF;
  color: white;
}

.example td {
  background-color: aqua;
  font-size: 16px;
  color: blue;
  font-style: oblique;
}

.song a {
  font-weight: bold;
}

.song a:hover {
  color: #ff4500;
  cursor: pointer;
}